.pointer {
  cursor: pointer;
}
.dataTables_wrapper input[type=search] {
  position: relative;
  margin-left: 5px;
  border-radius: 30px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border: solid 1px #888ea8;
}
.dataTables_wrapper select {
  position: relative;
  margin-left: 5px !important;
  border-radius: 20px !important;
  padding-bottom: 5px !important;
  padding-top: 5px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  border: solid 1px #888ea8;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1em;
}


div.dataTables_wrapper div.dataTables_paginate {
  margin: 0;
  white-space: nowrap;
  text-align: right;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  margin: 2px 0;
  white-space: nowrap;
  justify-content: flex-end;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background: white;
  border-radius: 10px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: 1px solid #111;
  border-radius: 10px;
  background: #333;
}

table.dataTable thead th, table.dataTable thead td {
  padding: 10px;
  border-bottom: 1px solid #f5f5f5;
}

table.dataTable.no-footer {
  border-bottom: 1px solid #f5f5f5;
}


table.dataTable tbody tr:nth-of-type(odd) {
    background-color: #f2f6f9 !important;
}

.profile-sidebar .profile-content .usr-profile img {
  border-radius: 50%;
  box-shadow: 0px 3px 15px 2px #c2d5ff;
  object-fit: cover;
  width: 100px;
  height: 100px;
}


.desktop-nav.header .navbar-nav .user-profile-dropdown a.user img {
  border-radius: 50%;
  width: 40px;
  box-shadow: 0 0 15px 2px #c2d5ff;
  object-fit: cover;
  width: 40px;
  height: 40px;
}

.profile-sidebar .profile-content .accordion .card .card-body ul li.list-company a {
  position: relative;
  padding-left: 50px;
  color: #888ea8;
  font-size: 10pt;
}

.profile-sidebar .profile-content .accordion .card .card-body ul li.list-company a:before {
  position: absolute;
  content: '';
  background-color: #000;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  left: 30px;
  top: 7px;
}


button.dt-button, div.dt-button, a.dt-button {
  background-image:initial  !important;
  background-color: white !important;
  border-radius: 10px !important;
}


.toggle-filter {
  float: right;    
  margin-bottom: 35px;
  margin-top: 35px;
}

.filter-wrapper {
  display: none;
}

.calendar-table {
  font-size: 80%;
}
.dt-buttons {
  padding-top: 20px;
}

select {
  display: block;
  width: 100%;
  font-size: 1em;
  padding: 0.8rem 0.5rem;
  border: 1px solid #333;
  font-family: inherit;
  /** for the dropdown indicator */
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1em;
}


::-webkit-input-placeholder { /* Edge */
  color: red;
  font-size: 8pt;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
  font-size: 8pt;
}

::placeholder {
  color: red;
  font-size: 8pt;
}

.page-button {
  float: right;
  margin-bottom: 35px;
  margin-top: 35px;
}